---
import Layout from "@/layouts/Layout.astro";
import products from "@/assets/products.json";
import ProductCard from "@/components/products/ProductCard.astro";
import Banner from "@/components/products/Banner.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/products/Jacuzzi * - Fresh Jacuzzis.{jpeg,jpg,png,gif}"
);
---

<Layout title="Productos">
    <Banner />
    <section>
        {
            products
                .filter(
                    ({ visibility, availability }) => visibility && availability
                )
                .map(async (product, index) => {
                    const image =
                        await images[
                            `/src/assets/products/Jacuzzi ${product.name} - Fresh Jacuzzis.jpeg`
                        ]();
                    return (
                        <ProductCard
                            id={product.id}
                            product={product}
                            img={image.default}
                            dataAos={{
                                "data-aos": "fade-up",
                                "data-aos-delay": index * 100,
                            }}
                        />
                    );
                })
        }
    </section>
</Layout>
<style>
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;
        margin: 20px auto;
    }
</style>
