---
import Cta from "@components/Cta.astro";
---

<section aria-labelledby="map-heading">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3966.9296469188816!2d-75.63312912501034!3d6.14015339384677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMDgnMjQuNiJOIDc1wrAzNyc1MC4wIlc!5e0!3m2!1ses!2ses!4v1742570133803!5m2!1ses!2ses"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación de nuestra fábrica"
        aria-label="Mapa de ubicación de nuestra fábrica"></iframe>
    <article>
        <h3 id="map-heading">
            Visítanos y Descubre la Excelencia en Cada Detalle.
        </h3>
        <p>
            Nuestra fábrica está abierta para ti, donde el lujo y la calidad
            toman forma. Ven y conoce el lugar donde creamos jacuzzis diseñados
            para tu bienestar.
        </p>
        <span>
            Encuéntranos de lunes a viernes, de 8:00 a.m. a 6:00 p.m, estamos
            listos para atenderte y asesorarte.
        </span>
        <span>Calle 93b sur # 50- 231 </span>
        <Cta>Agenda tu cita ahora</Cta>
    </article>
</section>

<style>
    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 450px;
    }
    article :global(a) {
        margin: 0;
    }
    @media (min-width: 800px) {
        article {
            max-width: 40%;
            height: auto;
        }
    }
</style>
