---
import { SITE_MAP } from '@constants/site_map'
import Burger from '@svg/Burger.astro'
import Xmark from '@svg/Xmark.astro'
import NavMenu from './NavMenu.astro'
---

<nav class="nav" aria-label="Navegación principal" role="navigation" transition:persist>
  <button id="burger-button" aria-label="Abrir menú" aria-controls="menu" aria-expanded="false">
    <Burger size={30} />
  </button>

  <ul id="menu" aria-hidden="true" role="menu" class="menu">
    <li role="none">
      <button id="xmark-button" aria-label="Cerrar menú" aria-controls="menu" aria-expanded="true">
        <Xmark size={32} />
      </button>
    </li>
    <NavMenu sites={SITE_MAP} deep={0} />
  </ul>
</nav>

<style>
  .nav :global(ul) {
    list-style: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--background-light);
    transition: right 0.3s ease-in-out;
  }
  .menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
  }

  .menu.open {
    right: 0;
  }

  .menu :global(li > a > span) {
    border-bottom: 1px solid var(--border-color);
  }
  .menu :global(a),
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-light);
    transition: all 0.2s ease;
  }

  button,
  .menu :global(span) {
    padding: 1rem;
    width: 100%;
    display: inline-block;
  }

  .nav :global(button:hover),
  .menu :global(li:hover > a),
  .menu :global(li:hover button) {
    color: var(--button-hover);
    background-color: var(--background-dark);
  }

  button {
    text-align: right;
  }

  .nav > button {
    padding: 0 1rem;
    transition: color 0.2s ease;
  }
  .nav {
    display: flex;
    justify-content: center;
    z-index: 10000000;
  }

  @media (min-width: 835px) {
    .menu > :global(li > a) {
      height: 100px;
      display: flex;
      align-items: center;
    }
    .nav :global(button) {
      display: none;
    }
    .nav .menu {
      position: static;
      flex-direction: row;
      background: transparent;
      padding-right: 1rem;
    }
    .nav :global(ul) {
      height: auto;
    }
  }
</style>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  document.addEventListener('astro:page-load', () => {
    const burgerButton = $('#burger-button')
    const xmarkButton = $('#xmark-button')
    const menu = $('#menu')
    const options = $$('a.enabled')

    function toggleMenu(isOpen: boolean) {
      menu?.classList.toggle('open', isOpen)
      burgerButton?.setAttribute('aria-expanded', isOpen ? 'true' : 'false')
      menu?.setAttribute('aria-hidden', isOpen ? 'false' : 'true')
    }

    burgerButton?.addEventListener('click', () => toggleMenu(true))
    xmarkButton?.addEventListener('click', () => toggleMenu(false))
    options.forEach((option) => {
      option.addEventListener('click', () => toggleMenu(false))
    })
  })
</script>
